<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>wechat</string>
		<key>class</key>
		<string>wechatVC</string>
		<key>param1</key>
		<string></string>
		<key>method</key>
		<string>root</string>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>scan</string>
				<key>class</key>
				<string>scanVC</string>
				<key>param1</key>
				<string></string>
				<key>method</key>
				<string>push</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>address</string>
		<key>class</key>
		<string>addressVC</string>
		<key>param1</key>
		<string></string>
		<key>method</key>
		<string>root</string>
		<key>childs</key>
		<array>
		</array>
	</dict>
	<dict>
        <key>name</key>
        <string>discover</string>
        <key>class</key>
        <string>discoverVC</string>
        <key>param1</key>
        <string></string>
        <key>method</key>
        <string>root</string>
        <key>childs</key>
        <array>
            <dict>
                <key>name</key>
                <string>moments</string>
                <key>class</key>
                <string>momentsVC</string>
                <key>param1</key>
                <string></string>
                <key>method</key>
                <string>push</string>
            </dict>
            <dict>
                <key>name</key>
                <string>games</string>
                <key>class</key>
                <string>gamesVC</string>
                <key>param1</key>
                <string></string>
                <key>method</key>
                <string>push</string>
            </dict>
        </array>
	</dict>
	<dict>
        <key>name</key>
        <string>self</string>
        <key>class</key>
        <string>selfVC</string>
        <key>param1</key>
        <string></string>
        <key>method</key>
        <string>root</string>
        <key>childs</key>
        <array>
            <dict>
                <key>name</key>
                <string>settings</string>
                <key>class</key>
                <string>settingsVC</string>
                <key>param1</key>
                <string></string>
                <key>method</key>
                <string>push</string>
                <key>childs</key>
                <array>
                    <dict>
                    <key>name</key>
                    <string>feedback</string>
                    <key>class</key>
                    <string>feedbackVC</string>
                    <key>param1</key>
                    <string></string>
                    <key>method</key>
                    <string>push</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>favorites</string>
                <key>class</key>
                <string>favoritesVC</string>
                <key>param1</key>
                <string></string>
                <key>method</key>
                <string>push</string>
            </dict>
        </array>
	</dict>
</array>
</plist>
